

td{
	height:35px;
	padding:10px;
	
}

.normal-size-button {
	height: 25px;
	border-radius: 5px;
	font: bold 18px Trebuchet, "Trebuchet MS";
	padding: 0 15px 2px;
	color: #BA0738;
	
	/* -- CSS3 Transition - define which property to animate (i.e. the shadow)  -- */
	-webkit-transition: -webkit-box-shadow 0.3s linear;

	/* -- CSS3 - Rounded Corners -- */
	border-width:1px;
        border-radius:4px 4px 4px 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
}