#slideshow{
		margin:auto;
		position:relative;
		width: 70%;
		height: 700;
	}
#slideshow IMG{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 8;
		visibility: hidden;
}

#slideshow IMG.active{
	z-index:10;
	visibility: visible;
}

#slideshow IMG.last-active{
	z-index: 9;
	visibility: hidden;
}